<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>Manga Notes+</title>
 <link rel="stylesheet" href="../../css/bookreviewpage.css">
 </head>
 <body>
    <div class="wrapper">
        <div class="book-info">
            <div class="bookCover"><img id="image" src="" alt="bookCover"></div>
            <div class="bookDescription">
                <div id="titleHolder" class="titleHolder">Title</div>
                <div id="descriptionHolder" class="descriptionHolder">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, officia eaque. Maiores, soluta distinctio. Iure, sapiente. Ex vero suscipit itaque molestiae totam nihil, magni, cum voluptatem temporibus ab laudantium qui.</div>
                <div class="credentialHolder">
                    <span id="author">Author: </span>
                    <span id = "rank">Rank: </span>
                </div>
            </div>
        </div>
        <div class="book-note">
            <textarea name="Notes" id="notepad" cols="30" rows="10"></textarea>
        </div>
        <div class="button-holder">
            <button id="saveBtn">SAVE</button>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="reviewPage.js"></script>
</body>
</html>