<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>Book Notes+</title>
 <link rel="stylesheet" href="../../css/index.css">
 </head>
 <body>

    <div class="wrapper">
        <div class="header">
            <h1>Manga Notes+</h1>
        </div>
        <div class="search-section">
            <input id="searchInput" type="text" placeholder="Search..."> 
            <button id= "searchBtn"><img src="https://static.thenounproject.com/png/123844-200.png" alt="search_icon"></button>
        </div>

        <div id= 'bookShelf' class="book-shelf">
            <!-- Card format hardcoded -->
            <!-- <div class="book-card">
                <div class="titleHolder"><h1>Title</h1></div>
                <div class="bookContent">
                    <div class="imgHolder"><img src="https://static01.nyt.com/bestsellers/images/9780593798430.jpg" alt=""></div>
                    <div class="descriptionHolder">
                        <p>
                            Lorem ipsum dolor,
                            sit amet consectetur adipisicing elit.
                            Provident eveniet repellat suscipit,
                            eaque hic sapiente rerum numquam. 
                            Molestiae ipsam quas optio impedit laudantium, 
                            neque quasi! Optio earum commodi non quam.
                        </p>
                    </div>
                </div>
                <div class="credentialHolder">
                    <p>Rank: </p>
                </div>
            </div> -->
            
            
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script type="module" src="index.js"></script>
</body>
</html>